.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure the popup is on top of other content */
}

.popup {
  background-color: #ffffff; /* White background */
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Soft shadow */
  max-width: 80%;
  text-align: center;
  position: relative;
}

.close-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.popup h3 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #0167FF; /* Dark gray color */
}

.popup p {
  font-size: 18px;
  color: #666666; /* Medium gray color */
  line-height: 1.5; /* Improved readability with increased line height */
}

.hero-head {
  background: linear-gradient(180deg, #EDF3FF 0%, #FFFFFF 100%);
}

.hero-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem; /* Adjusted for better padding */
  top: -50px;
}

.hero-item {
  margin: 4rem 0 4rem 0;
  margin-top: 9rem;
}

.hero-item h5 {
  color: #0167FF;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

.hero-title {
  font-size: 46px;
  font-weight: 500;
}

.hero-title span {
  color: #0167FF;
}

.search-box {
  width: 100%;
  max-width: 84%;
  border-radius: 5px;
  background: #FFFFFF;
  border: 1px solid #C3CFE0;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin-top: 35px;
}

.search-box .custom-select-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 16px;
}

.search-box  .custom-select-wrapper select {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; 
  color: #535353;
  padding-left:10px;
  max-width: 60px;
}

.search-box .custom-select-wrapper select option {
    font-size: 16px;
    max-width: 50px;
}

.search-box .icon-loc-src {
  color: #535353;
  width: 24px;
  height: 24px;
  margin: 3px 4.6px 3px 5px;
}

.search-box .simple-line {
  height: 40px;
  border: 0.1px solid transparent;
  border-image: linear-gradient(to top, #f5f5f5 20%, #767F8C 60%, #f5f5f5 70%);
  border-image-slice: 1;
}

.search-box .search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.search-box .search .search-input {
  color: #767F8C;
  background: none;
  border: none;
  outline: none;
  padding:0px 0.5rem;
  font-size: 16px;
  flex-grow: 1;
}

/*button animations*/
.search-box .search .outer{
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:5px;
  background: #015DE6;
}

.search-box .search .outer .search-button{
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 1.5px;
}
.search-box .search .outer::before {
  content: "";
  display: block;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 25%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 75%,
    rgba(255, 255, 255, 0) 100%
    );
  height: 300px;
  width: 100px;
  transform: translate(0);
  position: absolute;
  animation: rotate 2.5s linear forwards infinite;
  z-index: 0;
  top:50%;
  transform-origin:top center;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}
  
.search-box .search .search-button {
  background-color: #0167FF;
  color: white;
  border:none;
  border-radius:3.5px;
  padding: 10px 20px;
  font-size: 16px;
  width:164px;
  height:44px;
  font-weight: 600;
  line-height: 25px;
  animation:all 2.5s ease-in-out;
}


.ecg-container {
  position: absolute;
  top: 5%; 
  left: 32%;
  width: 300px;
  height: auto; 
  z-index: 1;
}

.ecg-line {
    fill: none;
    overflow: visible;
}
.outline {
  stroke: #a8c3f0;
  opacity: 0.3;
  stroke-width: 2; /* Stroke width */
}
.line {
  opacity: 0.3;
  stroke: #0066ff82; /* Color for the animated line */
  stroke-width: 2; /* Stroke width */
  stroke-dasharray: 100; /* Adjusted for the shorter path */
  stroke-dashoffset: 0; /* Start fully offset */
  animation: draw 2s linear infinite/* Adjust the duration here */
}


@keyframes draw {
  0% {
    stroke-dashoffset: 100;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -100;
  }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
/* .map-image {
  width: 150px;
  height: auto;
  opacity: 20%;
  margin-top: 7rem;
  margin-left: 40px;
} */

.image-division {
  z-index: inherit;
  margin-top:9rem;
  position: relative;
}

.hero-image { 
  width: 100%;
  height: auto;
  max-height: 75vh;
  margin-left: 47px;
  position: relative;
  z-index: 2; /* Ensure the image is above the SVG */

}

.layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(249, 251, 255, 0) 60%, #FCFDFF 90%);
  margin-left: 47px;
}

/* Media Queries */
@media (min-width: 1000px) and (max-width: 1439px) {
  .hero-content {
    flex-direction: row;
    align-items: center;
    padding: 2rem;
  }

  .hero-item {
    margin: 2rem 0;
    margin-top:2rem;
  }

  .hero-item h5 {
    font-size: 12px;
    line-height: 22px;
  }

  .hero-title {
    font-size: 40px;
    line-height: 48px;
  }
  
  .search-box {
    min-width: unset;
    width: 100%;
    max-width: 100%;
    padding:4px;
    flex-direction:row;
    align-items: stretch;
    justify-content: center;
  }
  .search-box .simple-line {
    height: 40px;
    border: 0.1px solid transparent;
    border-image: linear-gradient(to top, #f5f5f5 5%, #767F8C 50%, #f5f5f5 90%);
    border-image-slice: 1;
  }
  

  .search-box input,
  .search-box select,
  .search-box button {
    width: 45%;
    margin: 0.5rem 0;
  }

  .search-box input {
    padding: 12px;
  }

  .search-box button {
    padding: 12px;
    font-size: 14px;
  }

  .map-image {
    margin-top:2rem;
  }
  
  .image-division {
    margin-top:3rem;
  }


  .ecg-container {
    position: absolute;
    top: 3%; /* Adjust as needed to position the SVG */
    left: 35%;
    width: 45%;
    height: auto; /* Adjust height as needed */
    z-index: 1;
  }

}
@media (min-width: 1560px) {

  .ecg-container {
    position: absolute;
    top: 3%; /* Adjust as needed to position the SVG */
    left: 30%;
    width: 45%;
    height: auto; /* Adjust height as needed */
    z-index: 1;
  }
}
@media (min-width: 1090px)and (max-width:1334px) {

  .ecg-container {
    position: absolute;
    top: 3%; /* Adjust as needed to position the SVG */
    left: 33%;
    width: 45%;
    height: auto; /* Adjust height as needed */
    z-index: 1;
  }
}
@media (min-width: 1335px)and (max-width:1439px) {

  .ecg-container {
    position: absolute;
    top: 3%; /* Adjust as needed to position the SVG */
    left: 30%;
    width: 45%;
    height: auto; /* Adjust height as needed */
    z-index: 1;
  }
}



@media (min-width: 2560px) {
  .hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6rem 8rem; /* Adjusted for better padding */
  }
  

  .hero-item {
    margin: 4rem 0 4rem 0;
    margin-top: 9rem;
  }

  .hero-item h5 {
    color: #0167FF;
    font-size: 22px;
    font-weight: 500;
    line-height: 25px;
  }

  .hero-title {
    font-size: 66px;
    font-weight: 500;
    line-height: 75px;
  }
  
  .search-box {
    width: 100%;
    max-width: 70%;

    border-radius: 5px;
    background: #FFFFFF;
    border: 1px solid #C3CFE0;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

  }

  .search-box .simple-line {
    height: 40px;
    border: 0.1px solid transparent;
    border-image: linear-gradient(to top, #f5f5f5 5%, #767F8C 50%, #f5f5f5 90%);
    border-image-slice: 1;
  }
  

  .search-box input,
  .search-box select,
  .search-box button {
    width: 45%;
    margin: 0.5rem 0;
  }

  .search-box input {
    padding: 12px;
  }

  .search-box button {
    padding: 12px;
    font-size: 14px;
  }

  .map-image {
    margin-top:2rem;
  }
  
  .image-division {
    margin-top:3rem;
  }


  .ecg-container {
    position: absolute;
    top: 0.5%; /* Adjust as needed to position the SVG */
    left: 28%;
    width: 50%;
    height: 20%; /* Adjust height as needed */
    z-index: 1;

  }
}

@media (max-width: 540px){
  .hero-content {
    padding: 1.5rem!important;
  }

  .hero-item {
    margin: 2rem 0;
    margin-top:2rem;
  }

  .hero-item h5 {
    font-size: 12px;
    line-height: 22px;
  }

  .hero-title {
    font-size: 25px;
    line-height: 35px;
  }
  
  .search-box .simple-line {
    height: 10px;
    border: 0.1px solid transparent;
    border-image: linear-gradient(to top, #f5f5f5 5%, #767F8C 50%, #f5f5f5 90%);
    border-image-slice: 1;
  }
  

  .search-box input,
  .search-box select,
  .search-box button {
    width: 100%;
    margin: 0.5rem 0;
  }

  .search-box input {
    padding: 12px;
  }

  .search-box .search-button {
    padding: 12px;
    font-size: 11px !important;
    /* text-wrap: nowrap; */
  }

  .search-box {
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
    background: #FFFFFF;
    margin-top: 1rem;
    padding: 2px !important;
  }
  
  .search-box .custom-select-wrapper {
    font-size: 12px;
  }
  
  .search-box  .custom-select-wrapper select {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
    color: #535353;
    padding-left:2px !important;
    max-width: 60px;
  }
  
  .search-box .custom-select-wrapper select option {
      font-size: 12px;
  }
  
  .search-box .icon-loc-src {
    color: #535353;
    width: 24px;
    height: 24px !important;
    margin: 3px 4.6px 3px 5px;
  }
  
  .search-box .simple-line {
    height: 40px;
    border: 0.1px solid transparent;
    border-image: linear-gradient(to top, #f5f5f5 20%, #767F8C 60%, #f5f5f5 70%);
    border-image-slice: 1;
  }
  
  .search-box .search .search-input {
    color: #767F8C;
    background: none;
    border: none;
    outline: none;
    padding:0 0 0 0.5rem !important;
    font-size: 13px;
    flex-grow: 1;
  }
  .search-box .search .outer{
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:5px;
    background: #015DE6;
  }
  
  .search-box .search .search-button {
    background-color: #0167FF;
    color: #FFFFFF;
    border:none;
    border-radius:3.5px;
    padding: 10px 20px;
    width:170px !important;
    height:44px;
    font-weight: 600;
    line-height: 15px !important;
    animation:all 2.5s ease-in-out;
    text-wrap: nowrap;

  }
  .layout {
    margin-left: 10px !important;
  }
  
  .hero-image { 
    width: 100%;
    height: auto;
    max-height: 75vh;
    margin-left: 10px !important;
    position: relative;
    z-index: 2; /* Ensure the image is above the SVG */
  }
  
  .image-division {
    margin-top:3rem;
    margin-bottom: 0 !important;
  }


  .ecg-container {
    position: absolute;
    top: 3%; /* Adjust as needed to position the SVG */
    left: 28%;
    width: 45%;
    height: auto; /* Adjust height as needed */
    z-index: 1;
  }  
}
@media (min-width : 541px) and (max-width: 1023px) {
  .hero-content {
    padding: 2rem;
  }

  .hero-item {
    margin: 2rem 0;
    margin-top:2rem;
  }

  .hero-item h5 {
    font-size: 12px;
    line-height: 22px;
  }

  .hero-title {
    font-size: 25px;
    line-height: 35px;
  }
  
  .search-box .simple-line {
    height: 10px;
    border: 0.1px solid transparent;
    border-image: linear-gradient(to top, #f5f5f5 5%, #767F8C 50%, #f5f5f5 90%);
    border-image-slice: 1;
  }
  

  .search-box input,
  .search-box select,
  .search-box button {
    width: 100%;
    margin: 0.5rem 0;
  }

  .search-box input {
    padding: 12px;
  }

  .search-box .search-button {
    padding: 12px;
    font-size: 11px !important;
    /* text-wrap: nowrap; */
  }

  .search-box {
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
    background: #FFFFFF;
    margin-top: 1rem;
    padding: 2px !important;
  }
  
  .search-box .custom-select-wrapper {
    font-size: 12px;
  }
  
  .search-box  .custom-select-wrapper select {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
    color: #535353;
    padding-left:2px !important;
    max-width: 60px;
  }
  
  .search-box .custom-select-wrapper select option {
      font-size: 12px;
  }
  
  .search-box .icon-loc-src {
    color: #535353;
    width: 24px;
    height: 24px !important;
    margin: 3px 4.6px 3px 5px;
  }
  
  .search-box .simple-line {
    height: 40px;
    border: 0.1px solid transparent;
    border-image: linear-gradient(to top, #f5f5f5 20%, #767F8C 60%, #f5f5f5 70%);
    border-image-slice: 1;
  }
  
  .search-box .search .search-input {
    color: #767F8C;
    background: none;
    border: none;
    outline: none;
    padding:0 0 0 0.5rem !important;
    font-size: 13px;
    flex-grow: 1;
  }
  .search-box .search .outer{
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:5px;
    background: #015DE6;
  }
  
  .search-box .search .search-button {
    background-color: #0167FF;
    color: #FFFFFF;
    border:none;
    border-radius:3.5px;
    padding: 10px 20px;
    width:200px !important;
    height:44px;
    font-weight: 600;
    line-height: 15px !important;
    animation:all 2.5s ease-in-out;
    text-wrap: nowrap;
  }
  .layout {
    margin-left: 10px !important;
  }
  
  .hero-image { 
    width: 100%;
    height: auto;
    max-height: 75vh;
    margin-left: 10px !important;
    position: relative;
    z-index: 2; /* Ensure the image is above the SVG */
  }
  
  .image-division {
    margin-top:3rem;
  }


  .ecg-container {
    position: absolute;
    top: 3%; /* Adjust as needed to position the SVG */
    left: 28%;
    width: 45%;
    height: auto; /* Adjust height as needed */
    z-index: 1;
  }  
}
@media (max-width : 412px) {
  .search-button {
    background-color: #0167FF;
    color: white;
    border:none;
    border-radius:3.5px;
    padding: 10px 20px;
    font-size: 16px;
    width:164px;
    height:44px;
    font-weight: 600;
    line-height: 25px;
    animation:all 2.5s ease-in-out;
  }
}