.sidebar-container {
  width: 40%;
  background-color: #fbfbfb;
  padding: 10px 0px;
  height: 100vh;
  border-right: 1px solid #ddd;
  font-family: 'Matter', sans-serif;
  border-radius: 15px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  border-bottom: 1px solid #ddd;
}

.sidebar-header select {
  background: transparent;
  border: none;
  font-size: 1rem;
  font-weight: bold;
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  margin-left: 10px;
  background-color: #f8f9fd;
  font-size: 0.7rem;
}

.user-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-list-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: #efeded solid 1px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.user-list-item:hover {
  background-color: #e6e9ef;
}

.user-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 20%;
  margin-right: 10px;
}

.user-info {
  flex: 1;
}

.user-name {
  font-weight: 500;
  padding: 10px 10px;
}

.user-message {
  font-size: 0.7rem;
  color: #666;
}

.message-time {
  font-size: 0.6em !important;
  color: #aaa;
  text-align: right;
}

@media (max-width: 768px) {
  .sidebar-container {
    width: 100%;
    height: auto;
    border-right: none;
  }
  
  .user-list-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .user-avatar img {
    width: 50px;
    height: 50px;
  }
}
