.profile-content-background-color{
    background: linear-gradient(180deg, #EDF3FF 0%, #FFFFFF 100%);
    max-width:100%;
    margin: 0 10px;
    height: calc(200vh - 60px); 
}



  
 
  
