.main-section-review {
    position: relative;
    /* background: #FFFFFF; */
    top:-800px;
    left: 30px;
   
}

.doctor-review-section {
    padding: 20px;
}
  
.doctor-review-section h5 {
    font-size: 18px;
    font-family: 'Matter', sans-serif;
    font-weight: 600;
    line-height: 21.6px;
    margin-top: 180px;
    margin-left: -30px;
    color: #5E6282;
}
  
.doctor-review-section h1 {
    position: relative;
    width: 409px;
    height: 151.91px;
    top: 2px;
    left: -30px;
    color: #272848;
    font-family: 'Matter', sans-serif;
font-size: 50px;
font-weight: 700;
line-height: 60px;
text-align: left;

}
  
.doctor-card-review {
    padding: 20px;
    border-radius: 10px;
    margin-top: 180px;
    margin-left: 10px;
    width: 450px;
    height: 286.29px;
    background: #FFFFFF;
    z-index: 1;
    position: relative;
}
  
.shadow-card {
  padding: 40px;
    position: absolute;
    top: 265px;
    left: 60px;
    width: 450px;
    height: 250.29px;
    border-radius: 10px;
    z-index: 0;
    border: 2px solid #F7F7F7
}
  
.doctor-review-content {
    font-family: 'Matter', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 32px;
    color: #5E6282;
}
  
.doctor-review img {

    width: 68px;
height: 79.46px;
border-radius: 50px;
    margin-right: 5px;
    margin-top: -50px;
    margin-left: -50px;
}
  
.ml-3 {
    margin-left: 1rem;
}
  
.location {
    font-family: 'Matter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 10.8px;
    color: #5E6282;
 
}

.reviwer-name {
    font-family: 'Matter', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    color: #5E6282;
}
.arrow-up {
    position: relative;
    margin-left: 100%;
    margin-top: -15%;
    cursor: pointer;
}

.arrow-down {
    position: absolute;
    margin-left: 95.5%;
    margin-top: -15%;
    cursor: pointer;
}

.arrow-down:hover path {
    stroke: #3E2E4D; 
}

.arrow-up:hover path {
    stroke: #3E2E4D;
}
.mydoctor-review-star {
    color: #37ADFF;
    font-size: 15px;
    gap: 1px;
}

.swipe-up-out {
  transform: translateY(-100%);
  opacity: 0;
}

.swipe-up-in {
  transform: translateY(0);
  opacity: 1;
}