/* src/components/Header.css */
.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Adjust as needed to ensure the header is above other content */
    background-color: white; /* Ensure the header has a background to cover content below */
  }
  
  /* src/App.css */
  body, html, #root {
    height: 100%;
    margin: 0;
  }
  
