/* Base styles */
.navbar-brand {
  margin-left: 70px;

}

.brand-img {
  width: 150px;
  height: 51px;
  top: 43px;
  left: 80px;
  gap: 0px;
  opacity: 0px;
  margin-top: 10px;
}
.nav-signin-button{
  border: 1px solid #0167FF;
  color: #0167FF;
  /* padding: 7px 20px; */
  font-size: 16px;
  font-weight: 600;
  z-index: 9999;
}

.nav-register-button{
  background: #0167FF;
  color: #FFFFFF;
  /* padding: 7px 20px; */
  font-size: 16px;
  font-weight: 600;
  /* margin-right: 50px; */
  z-index: 9999;
}

.navbar-head-style {
  padding: 2rem 3rem;
  z-index: 1000;
}

.nav-link-style {
  color: #272848;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}

.find-doctor {
  margin-left: 30px;
}

/* Dropdown styles */
.dropdown-menu {
  background-color: #272848;
}

.dropdown-item {
  color: #fff;
  padding: 10px 20px;
}

.dropdown-item:hover {
  background-color: #FFFFFF;
}

.nav-link.dropdown-toggle::after {
  display: none;
}

/* Button styles */
.navbar-head-style .nav-signin-button {
  border: 1px solid #0167FF;
  color: #0167FF;
  padding: 7px 20px;
  font-size: 16px;
  font-weight: 600;

}

.navbar-head-style .nav-register-button {
  background: #0167FF;
  color: #FFFFFF;
  padding: 7px 20px;
  font-size: 16px;
  font-weight: 600;
  margin-right: 50px;
}

/* Blur background for modals */
.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* semi-transparent background */
  backdrop-filter: blur(5px); /* blur effect */
  z-index: 1000; /* ensure it's above other content */
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-setting-bell{
  width: 56px;
height: 56px;

border-radius: 20px 5px 20px 5px;

background: #F3F6FF;

}
.nav-notification-button {
  background: none;
  border: none;
  position: relative;
  top: 7px;
}

.nav-notification-button .fa-bell {
  font-size: 1.5rem; /* Adjust size as needed */
  color: #333; /* Adjust color as needed */
}

.nav-notification-button::after {
  width: 23.38px;
height: 23.38px;
top: -13px;
left: 40px;
gap: 0px;
border-radius: 63px ;

background: #42427D;
border: 4px solid #FFFFFF;

  content: '';
  position: absolute;


}


/* Responsive styles */
@media (min-width: 1000px) and (max-width: 1022px) {
  .find-doctor {
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 60px;
    width: 100px;
    height: 40px;
  }

  .for-providers, .for-corporates, .about-nav {
    font-size: 14px;
    font-weight: 500;
    line-height: 10px;
    margin-top: 5px;
  }

  .about-nav {
    margin-top: 7px;
  }
}

@media (min-width: 1023px) and (max-width: 1439px) {
  .navbar-brand {
    margin-left: 40px;
    margin-bottom: 60px;
  }

  .brand-img {
    width: 100px;
    height: 31px;
    top: 43px;
    left: 80px;
    gap: 0px;
    opacity: 0px;
  }

  .find-doctor {
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 60px;
    width: 100px;
    height: 40px;
  }

  .for-providers, .for-corporates, .about-nav {
    font-size: 14px;
    font-weight: 500;
    line-height: 10px;
    margin-top: 5px;
  }

  .about-nav {
    margin-top: 7px;
  }

  .navbar-head-style .nav-signin-button {
    padding: 7px 20px;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 50px;
    border-radius: 5px;
  }

  .navbar-head-style .nav-register-button {
    padding: 7px 20px;
    font-size: 14px;
    font-weight: 700;
    margin-right: 0px;
    margin-bottom: 50px;
    border-radius: 5px;
  }
}

@media (min-width: 2560px) {
  .navbar-brand {
    margin-left: 130px;
  }

  .brand-img {
    width: 150px;
    height: 51px;
    top: 43px;
    left: 80px;
    gap: 0px;
    opacity: 0px;
    margin-top: 10px;
  }

  .find-doctor {
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    margin-right: 30px;
  }

  .for-providers, .for-corporates, .about-nav {
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
  }

  .navbar-head-style .nav-signin-button {
    padding: 15px 30px;
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px;
    border-radius: 5px;
  }

  .navbar-head-style .nav-register-button {
    padding: 15px 30px;
    font-size: 22px;
    font-weight: 700;
    margin-right: 90px;
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 5px;
  }
}

@media (min-width: 3840px) {
  .navbar-brand {
    margin-left: 130px;
  }

  .brand-img {
    width: 150px;
    height: 51px;
    top: 43px;
    left: 80px;
    gap: 0px;
    opacity: 0px;
    margin-top: 10px;
  }

  .find-doctor {
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    margin-right: 30px;
  }

  .for-providers, .for-corporates, .about-nav {
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
  }

  .navbar-head-style .nav-signin-button {
    padding: 15px 30px;
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px;
    border-radius: 5px;
  }

  .navbar-head-style .nav-register-button {
    padding: 15px 30px;
    font-size: 22px;
    font-weight: 700;
    margin-right: 90px;
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 5px;
  }
}


/* Responsive styles */
@media (max-width: 412px) {
  .navbar-head-style {
    padding: 1rem;
  }

  .navbar-brand {
    margin-left: 5px;
  }

  .nav-link-style {
    font-size: 12px;
  }

  .find-doctor {
    margin-left: 10%;
    font-size: 14px;
  }

  .for-providers, .for-corporates, .about-nav {
    margin-left: 10%;
    font-size: 14px;
  }
  .nav-signin-button {
    padding: 3px 10px;
    font-size: 12px;
    margin-left: 10%;
    margin-top: 4%;
  }
  .nav-register-button {
    padding: 3px 10px;
    font-size: 12px;
    margin-left: 10%;
    margin-top: 4%;
  }
  /* .navbar-head-style .nav-register-button {
    margin-left: 90px;
  } */

  .nav-item {
    margin-left: 0;
  }

  .navbar-collapse {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f8f9fa;
    width: 60%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 300px;
    z-index: 4; 
  }
}

@media (min-width: 413px) and (max-width: 600px) {
    .navbar-head-style {
      padding: 1rem;
    }
  
    .navbar-brand {
      margin-left: 5px;
    }
  
    .nav-link-style {
      font-size: 12px;
    }
  
    .find-doctor {
      margin-left: 10%;
      font-size: 14px;
    }
  
    .for-providers, .for-corporates, .about-nav {
      margin-left: 10%;
      font-size: 14px;
    }
    .nav-signin-button {
      padding: 3px 10px;
      font-size: 12px;
      margin-left: 10%;
      margin-top: 4%;
    }
    .nav-register-button {
      padding: 3px 10px;
      font-size: 12px;
      margin-left: 10%;
      margin-top: 4%;
    }
    /* .navbar-head-style .nav-register-button {
      margin-left: 90px;
    } */
  
    .nav-item {
      margin-left: 0;
    }
  
    .navbar-collapse {
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #f8f9fa;
      width: 60%;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      height: 300px;
      z-index: 4; 
    }
}

@media (min-width: 601px) and (max-width: 767px) {
  .navbar-head-style {
    padding: 1rem;
  }

  .navbar-brand {
    margin-left: 5px;
  }

  .nav-link-style {
    font-size: 12px;
  }

  .find-doctor {
    margin-left: 10%;
    font-size: 14px;
  }

  .for-providers, .for-corporates, .about-nav {
    margin-left: 10%;
    font-size: 14px;
  }
  .nav-signin-button {
    padding: 3px 10px;
    font-size: 12px;
    margin-left: 10%;
    margin-top: 4%;
  }
  .nav-register-button {
    padding: 3px 10px;
    font-size: 12px;
    margin-left: 10%;
    margin-top: 4%;
  }
  /* .navbar-head-style .nav-register-button {
    margin-left: 90px;
  } */

  .nav-item {
    margin-left: 0;
  }

  .navbar-collapse {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f8f9fa;
    width: 60%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 300px;
    z-index: 4; 
  }
}



@media (min-width: 768px) and (max-width: 911px) {
  .navbar-head-style {
    padding: 1rem;
  }

  .navbar-brand {
    margin-left: 5px;
  }

  .nav-link-style {
    font-size: 12px;
  }

  .find-doctor {
    margin-left: 8%;
    font-size: 16px;
  }

  .for-providers, .for-corporates, .about-nav {
    margin-left: 8%;
    font-size: 16px;
  }
  .nav-signin-button {
    padding: 3px 10px;
    font-size: 12px;
    margin-left: 8%;
    margin-top: 4%;
  }
  .nav-register-button {
    padding: 3px 10px;
    font-size: 12px;
    margin-left: 9%;
    margin-top: 4%;
  }
  /* .navbar-head-style .nav-register-button {
    margin-left: 90px;
  } */

  .nav-item {
    margin-left: 0;
  }

  .navbar-collapse {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f8f9fa;
    width: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 300px;
    z-index: 4; 
  }
}

@media (min-width: 912px) and (max-width: 991px) {
  .navbar-head-style {
    padding: 1rem;
  }

  .navbar-brand {
    margin-left: 5px;
  }

  .nav-link-style {
    font-size: 12px;
  }

  .find-doctor {
    margin-left: 8%;
    font-size: 16px;
  }

  .for-providers, .for-corporates, .about-nav {
    margin-left: 8%;
    font-size: 16px;
  }
  .nav-signin-button {
    padding: 3px 10px;
    font-size: 12px;
    margin-left: 8%;
    margin-top: 4%;
  }
  .nav-register-button {
    padding: 3px 10px;
    font-size: 12px;
    margin-left: 9%;
    margin-top: 4%;
  }
  /* .navbar-head-style .nav-register-button {
    margin-left: 90px;
  } */

  .nav-item {
    margin-left: 0;
  }

  .navbar-collapse {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f8f9fa;
    width: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 300px;
    z-index: 4; 
  }

}


@media (min-width: 992px) and (max-width: 999px) {
  .navbar-brand {
    margin-left: 20px;
    margin-bottom: 40px;
  }
  
  .find-doctor {
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 60px;
    width: 100px;
    height: 40px;
  }

  .for-providers, .for-corporates, .about-nav {
    font-size: 14px;
    font-weight: 500;
    line-height: 10px;
    margin-top: 5px;
  }
  .navbar-head-style .nav-signin-button {
    padding: 7px 20px;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 50px;
    border-radius: 5px;
  }

  .navbar-head-style .nav-register-button {
    padding: 7px 20px;
    font-size: 14px;
    font-weight: 700;
    margin-right: 0px;
    margin-bottom: 50px;
    border-radius: 5px;
  }

  .about-nav {
    margin-top: 7px;
  }
  .navbar-collapse {
    z-index: 4; 
  }

}
