@import url('https://fonts.googleapis.com/css2?family=Matter:wght@400;700&display=swap');

.background {
    overflow: hidden;
    width: 100%;
    /* max-width: 1440px; */
height: 679px;
top: 1638px;
gap: 0px;
opacity: 1px;
background: linear-gradient(180deg, #E4EDFF -17.3%, rgba(253, 254, 255, 0.0763343) 72.99%, rgba(255, 255, 255, 0) 80.46%);

}

.lorem {
    text-align: center;
    font-family: Matter, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #0167FF;
    padding-top: 90px;
  
}

.why {
    font-family: Matter, sans-serif;
    font-size: 46px;
    color: #272848;
    font-weight: 600;
    text-align: center;
}

.h2 {
    color: #0167FF;
    font-family: Matter, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Increased min width */
 
    padding-top: 50px;
    padding: 0px 30px;

}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    border: none;
    border-radius: 9px;
    padding: 18px;
    text-align: center;
    margin-top: 2rem;
    background: transparent;
    height:430px;
}

.grid-item:hover {
  
    gap: 0px;
    border-radius: 9px ;

    opacity: 1px;
    background: #F4F7FC;
    border: 1px solid #0167FF

    
}

.grid-item h2 {
    font-family: Matter, sans-serif;
    color: #0167FF;
  

    width: 308px;
    height: 15px;
    gap: 0px;
    opacity: 1px;
    
font-size: 22px;
font-weight: 700;
line-height: 25px;
text-align: center;

margin-top: 20px;


}

.grid-item p {


    width: 364px;
height: 124px;
top: 2080px;
left: 538px;
gap: 0px;
opacity: 1px;
font-family: Matter, sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 28px;
text-align: center;
color: #52525B;
margin-top: 30px;
margin-bottom: 40px;


}

.grid-item img {
    position: relative;
    width: 86px; 
    height: 68px; 
    margin: 0 auto;
    top: -20px;

}

.icon-doctor{
    position: relative;
    width: 86px; 
    height: 68px; 
    margin: 0 auto;
    top: -20px;
    color: #0167ffc1;

}
@media (min-width: 1000px) and (max-width: 1439px) {
    .background {
   
        width: 100%;

    
    }
    
    .lorem {
        text-align: center;
        font-family: Matter, sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #0167FF;
        padding-top: 90px;
      
    }
    
    .why {
        font-family: Matter, sans-serif;
        font-size: 46px;
        color: #272848;
        font-weight: 600;
        text-align: center;
    }
    
    .h2 {
        color: #0167FF;
        font-family: Matter, sans-serif;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

        padding-top: 50px;
        padding: 0px 30px;

    }
    
    .grid-item {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center items horizontally */
        justify-content: center; /* Center items vertically */
        border: none;
        border-radius: 9px;
        padding: 18px; /* Increased padding */
        text-align: center;
        margin-top: 2rem;
        background: transparent;
    }
    
    .grid-item:hover {
        
        gap: 0px;
        border-radius: 9px ;
        opacity: 1px;
        background: #F4F7FC;
        border: 1px solid #0167FF
    
        
    }
    
    .grid-item h2 {
        font-family: Matter, sans-serif;
        color: #0167FF;
        width: 178px;
        height: 15px;
        gap: 0px;
        opacity: 1px;
        
    font-size: 17px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;

    margin-top: 30px;
    
    
    }
    
    .grid-item p {
    
    
        width: 274px;
    height: 124px;
    top: 2080px;
    left: 538px;
    gap: 0px;

    font-family: Matter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #52525B;
    margin-top: 30px;
    margin-bottom: 40px;
    
    
    }
    
    .icon-doctor {
  
        width: 23%; 
        height: 14%; 
        margin: 0 auto;
    }
}

@media (min-width: 2560px) {
    .background {
/* margin-top: 280px; */
        width: 100%;
  
        height: 779px;
 

    
    }
    .lorem {
        text-align: center;
        font-family: Matter, sans-serif;
        font-weight: 500;
        font-size: 22px;
        color: #0167FF;
        padding-top: 90px;
      
    }
    
    .why {
        font-family: Matter, sans-serif;
        font-size: 56px;
        color: #272848;
        font-weight: 600;
        text-align: center;
    }
    
    .h2 {
        color: #0167FF;
        font-family: Matter, sans-serif;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Increased min width */
     
        padding-top: 50px;
        padding: 0px 30px;
    }
    
    .grid-item {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center items horizontally */
        justify-content: center; /* Center items vertically */
        border: none;
        border-radius: 9px;
        padding: 18px;
        text-align: center;
        margin-top: 2rem;
        background: transparent;
        transition: all 0.3s ease;
    }
    
    .grid-item:hover {
     
        gap: 0px;
        border-radius: 9px ;
    
  
        background: #F4F7FC;
        border: 1px solid #0167FF
    
        
    }
    
    .grid-item h2 {
        font-family: Matter, sans-serif;
        color: #0167FF;
      
    
        width: 278px;
        height: 20px;
        gap: 0px;

        
    font-size: 28px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;

    margin-top: 30px;
    
    
    }
    
    .grid-item p {
    
    
        width: 464px;
    height: 174px;
    top: 2080px;
    left: 538px;
    gap: 0px;

    font-family: Matter, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
    color: #52525B;
    margin-top: 30px;
    margin-bottom: 40px;
    
    
    }
    
    .icon-doctor{
        width: 106px; 
        height: 78px; 
        margin: 0 auto;
        
     
    }
}


@media (min-width: 3840px) {
    .background {
margin-top: 400px;
        width: 100%;
  
        height: 879px;
 

    
    }
    .lorem {
        text-align: center;
        font-family: Matter, sans-serif;
        font-weight: 500;
        font-size: 26px;
        color: #0167FF;
        padding-top: 90px;
      
    }
    
    .why {
        font-family: Matter, sans-serif;
        font-size: 62px;
        color: #272848;
        font-weight: 600;
        text-align: center;
    }
    
    .h2 {
        color: #0167FF;
        font-family: Matter, sans-serif;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Increased min width */
     
        padding-top: 50px;
        padding: 0px 30px;
    }
    
    .grid-item {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center items horizontally */
        justify-content: center; /* Center items vertically */
        border: none;
        border-radius: 9px;
        padding: 18px;
        text-align: center;
        margin-top: 2rem;
        background: transparent;
        transition: all 0.3s ease;
    }
    
    .grid-item:hover {
     
        gap: 0px;
        border-radius: 9px ;
    

        background: #F4F7FC;
        border: 1px solid #0167FF
    
        
    }
    
    .grid-item h2 {
        font-family: Matter, sans-serif;
        color: #0167FF;
      
    
        width: 278px;
        height: 20px;
        gap: 0px;
        
        
    font-size: 28px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;

    margin-top: 30px;
    
    
    }
    
    .grid-item p {
    
    
        width: 544px;
    height: 204px;
    top: 2080px;
    left: 538px;
    gap: 0px;
    
    font-family: Matter, sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
    color: #52525B;
    margin-top: 30px;
    margin-bottom: 40px;
    
    
    }
    
    .icon-doctor {
        width: 106px; 
        height: 78px; 
        margin: 0 auto;
        
     
    }
}
@media (max-width: 413px) and (min-width: 0px) {

.background {
        height: auto;
        padding: 20px;
    }

    .lorem {
        font-size: 14px;
        padding-top: 50px;
    }

    .why {
        font-size: 30px;
    }

    .h2 {
        font-size: 20px;
    }

    .grid-container {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 20px 10px;
    }

    .grid-item {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        border: none;
        border-radius: 9px;
        padding: 10px;
        text-align: center;
        margin-top: 2rem;
        background: transparent;
        height:460px;
    }
    
    .grid-item h2 {
        font-size: 18px;
        width: auto;
        height: auto;
        margin-top: 50px;
    }

    .grid-item p {
        width: auto;
        height: auto;
        font-size: 15.7px;
        line-height: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .icon-doctor{
        width: 60px;
        height: 50px;
      
top:30px;
    }
}


@media (max-width: 999px) and (min-width: 413px) {
    .background {
        height: auto;
        padding: 20px;
    }

    .lorem {
        font-size: 14px;
        padding-top: 50px;
    }

    .why {
        font-size: 30px;
    }

    .h2 {
        font-size: 20px;
    }

    .grid-container {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 20px 10px;
    }

    .grid-item {
        padding: 10px;
        margin-top: 1rem;
    }

    .grid-item h2 {
        font-size: 18px;
        width: auto;
        height: auto;
        margin-top: 20px;
    }

    .grid-item p {
        width: auto;
        height: auto;
        font-size: 15.7px;
        line-height: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .icon-doctor {
        width: 60px;
        height: 50px;
    }
}



@media (max-width: 768px) and (min-width: 768px)  {
    .background {
        height: auto;
        padding: 10px;
    }

    .lorem {
        font-size: 12px;
        padding-top: 40px;
    }

    .why {
        font-size: 28px;
    }

    .h2 {
        font-size: 18px;
    }

    .grid-container {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 10px 5px;
    }

    .grid-item {
        padding: 10px;
        margin-top: 0.5rem;
        width: 330px;
        height: 250px;
        margin-left: 200px;
    }

    .grid-item h2 {
        font-size: 16px;
        width: auto;
        height: auto;
        margin-top: 15px;
    }

    .grid-item p {
        width: 250px;
        height: 200px;
        font-size: 12px;
        line-height: 18px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .icon-doctor{
        width: 50px;
        height: 40px;
    }
}


@media (max-width: 820px) and (min-width: 820px)  {
    .background {
        height: auto;
        padding: 10px;
    }

    .lorem {
        font-size: 12px;
        padding-top: 40px;
    }

    .why {
        font-size: 28px;
    }

    .h2 {
        font-size: 18px;
    }

    .grid-container {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 10px 5px;
    }

    .grid-item {
        padding: 10px;
        margin-top: 0.5rem;
        width: 330px;
        height: 250px;
        margin-left: 220px;
    }

    .grid-item h2 {
        font-size: 16px;
        width: auto;
        height: auto;
        margin-top: 15px;
    }

    .grid-item p {
        width: 250px;
        height: 200px;
        font-size: 12px;
        line-height: 18px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .icon-doctor {
        width: 50px;
        height: 40px;
    }
}

@media (max-width: 900px) and (min-width: 850px)  {
    .background {
        height: auto;
        padding: 10px;
    }

    .lorem {
        font-size: 12px;
        padding-top: 40px;
    }

    .why {
        font-size: 28px;
    }

    .h2 {
        font-size: 18px;
    }

    .grid-container {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 10px 5px;
    }

    .grid-item {
        padding: 10px;
        margin-top: 0.5rem;
        width: 330px;
        height: 250px;
        margin-left: 250px;
    }

    .grid-item h2 {
        font-size: 16px;
        width: auto;
        height: auto;
        margin-top: 15px;
    }

    .grid-item p {
        width: 250px;
        height: 200px;
        font-size: 12px;
        line-height: 18px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .icon-doctor{
        width: 50px;
        height: 40px;
    }
}

@media (max-width: 920px) and (min-width: 900px)  {
    .background {
        height: auto;
        padding: 10px;
    }

    .lorem {
        font-size: 12px;
        padding-top: 40px;
    }

    .why {
        font-size: 28px;
    }

    .h2 {
        font-size: 18px;
    }

    .grid-container {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 10px 5px;
    }

    .grid-item {
        padding: 10px;
        margin-top: 0.5rem;
        width: 330px;
        height: 250px;
        margin-left: 270px;
    }

    .grid-item h2 {
        font-size: 16px;
        width: auto;
        height: auto;
        margin-top: 15px;
    }

    .grid-item p {
        width: 250px;
        height: 200px;
        font-size: 12px;
        line-height: 18px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .icon-doctor {
        width: 50px;
        height: 40px;
    }
}
