.notification-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  background-color: #fff;
  max-width: 950px;
  margin: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 550px; /* Adjust height as needed */
}

.notification-list {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.notification {
  display: flex;
  align-items: flex-start;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  flex-wrap: wrap;
}

.notification img {
  border-radius: 50%;
  margin-right: 15px;
  width: 100px; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
  object-fit: cover;
}

.details {
  flex: 1;
}

.details h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.details p {
  font-size: 16px;
  font-weight: 400;
  margin: 5px 0;
  color: #666;
  max-width: 250px; /* Set a maximum width for the specialization field */
  overflow-wrap: break-word;
}

.status {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.time {
  font-size: 0.9em;
  color: #aaa;
  margin-bottom: 10px; /* Add spacing between time and buttons */
}

.status p {
  margin: 0;
  font-weight: bold;
}

/* Button styles */
.btn-primary {
  background-color: #0167FF; /* Blue color for 'Mark as Read' */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 0.9em;
  cursor: pointer;
  margin-right: 10px; /* Gap between buttons */
}

.btn-secondary {
  background-color: #FF8C00; /* Orange color for 'Delete' */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 0.9em;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
  .notification img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }

  .notification {
    flex-direction: column;
    align-items: flex-start;
  }

  .details p {
    margin-bottom: -5px;
    max-width: 100%;
  }

  .status {
    align-items: flex-start;
    margin-top: 10px;
  }

  .time {
    margin-bottom: 10px; /* Adjust spacing for small screens */
  }
}

@media (max-width: 480px) {
  .notification img {
    width: 40px;
    height: 40px;
  }

  .details h2 {
    font-size: 1em;
  }

  .details p {
    font-size: 0.9em;
    margin-bottom: -5px;
  }

  .time {
    font-size: 0.8em;
    margin-bottom: 10px; /* Ensure time has spacing on small screens */
  }
}