.custom-modal-change {


    max-width: none;
width: 90%;
margin: auto;
height: auto;
}

/* In your signup.css or a relevant CSS file */
/* .toast-sign {

} */
.toast-center .Toastify__close-button {
  color: #0067FF; 
}

.toast-center .Toastify__progress-bar {
  color:#0067FF !important;
}
.toast-center .Toastify__toast-icon {
  color:#0067FF; 
}
 
  .model-header-change-password{
    width: 287px;
    height: 22px;
    top: 120px;
    left: 39%;
    font-family: 'Matter', sans-serif;
    font-size:26px;
    font-weight: 600;
    line-height: 19.2px;
    text-align: left;
  position: relative;
  color: #272848;
    border-bottom: none;
    display: flex;
  }
  .model-header-sub-change-password{
    width: 287px;
    height: 22px;
    top: 140px;
    left: 39%;
    font-family: 'Matter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    text-align: left;
    color: #272848;
      border-bottom: none;
      display: flex;
      position: relative;
    }
